body{
  font-family: 'Ovo', serif;
}

select{
  display: block;
}
.page{
  background-image: url(../img/Soil_25p.png);
  min-height: 600px;
  height: 100%
}
.icon_img{
  margin-right: 5px;
  margin-left: 20px;
  max-height: 45px;
  max-width: 40px;
}
.header{
  background: url(../img/healthy-vegetables-restaurant-nature.jpg) black no-repeat;
  background-size: cover;
  border-bottom: 10px solid #a2c523;
  height: 500px;
}
.header_layer{
  background-color: rgba(0, 148, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.welcome{
  color: white !important;
}
.search_div{
 margin-top: 8%;
}
.search{
  background: rgba(0, 0, 0, 0.5) !important;
  width: 50% !important;
  color: black !important;
  text-decoration-color: black !important;
}
.search:focus{
  color: white !important;
}
nav{
  background: #a2c523;
}
::-webkit-input-placeholder {
 color: white;
 padding-left: 5px !important;
}
.gardens_link{
  color:#486b00 !important;
}
.content{
  background-color: rgba(255, 255, 255, 0.6); !important;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 100%;
}
.plants{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
  padding-top: 20px;
}
.plant_img_home{
  height: 150px;
  width: 250px;
  vertical-align: middle;
}
.plant_name_home{
  color: #486B00;
  font-size: 2rem;
  margin-left: 10%;
}
.form_text::-webkit-input-placeholder{
  color:#66bb6a !important;
}
.delete{
  color: white;
  background-color: red;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 0px 1px 0px rgba(255,0,0,0.75);
  max-width: 20px;
  max-height: 20px;
  text-align: center;

}
.delete_garden{
  margin-right: 15%;
  float: right;
}
.plant_title{
  font-size: 2rem;
  padding-left: 5px;
}


.quicklook{
  border: black solid 2px;
  width: 55%;
  float: right;
  margin-top: 43px;
  margin-right: 10px

}
.title_img{
  width: 42%;
  float: left;
  margin-left: 10px;
}

.plant_img_planthtml{
  height: auto;
  width: 340px;
}
.plant_select{
  max-width: 33%;
  margin-left: 20px;
}
.create_btn{
  margin-top: 30px;
}
.plant_description{
  margin: 5px 10px;
}
.gardens_click{
  background-color: #486B00;
  margin: 20px 35%;
  box-shadow: 0 0 0 0 black;
  padding: 10px;
  color: #a2c523;
}
.garden_name{
  padding-left: 30px
}
.gardens_click:hover{
  background-color: #66bb6a;
  color: white;
}
li{
  padding-bottom: 5px;
  font-size: .8rem;
}
ul{
  margin-left: 5px;
  margin-right: 5px;
}

strong{
  font-size: 1.2rem;
  font-style: oblique;
}
