<div class="page">
  <div class="gardens_body">
    <div class="gardens_head">
      <nav>
        <div class="nav-wrapper">
          <img class="icon_img" src="/img/smart_gardner_icon2.png" alt="Smart Gardener icon">
          <a href="#" class="brand-logo">Smart Gardener</a>
          <ul id="nav-mobile" class="right">
            <li><a class="gardens_link" href="/#/">Home</a></li>
          </ul>
        </div>
      </nav>
      <div class="center create_garden_btn">
        <a  class="btn green lighten-1 create_btn" href="/#/createGarden">Create A Garden</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="gardens_click" ng-repeat="garden in gardens">
      <span class="center garden_name" ng-click="getGardenId(garden.id)">{{garden.name}}</span>
      <input class="delete delete_garden" type="button" ng-click="delete(garden.id)" value="X">
    </div>
  </div>
</div>
