<div class="page">
  <div class="home-body">
    <div class="header">
      <div class="header_layer">
        <nav>
          <div class="nav-wrapper">
            <img class="icon_img" src="/img/smart_gardner_icon2.png" alt="Smart Gardener icon">
            <a href="#" class="brand-logo">Smart Gardener</a>
            <ul id="nav-mobile" class="right">
              <li><a  class="gardens_link" href="/#/gardens">Gardens</a></li>
            </ul>
          </div>
        </nav>
          <h2 class="center welcome">Life's a garden</h2>
          <h2 class="center welcome">So learn to grow one</h2>
        <div class="center search_div">
          <input ng-model="search.name"class="search" type="text" placeholder="Choose a plant to grow">
        </div>
      </div>
    </div>
    <div class="content">
      <div class="plants" ng-click="plantById(plant.id)" ng-repeat="plant in plants| filter:search | orderBy : 'name'">
        <img class="plant_img_home" ng-src="{{plant.img}}" alt="photo of {{name}}">
        <span class="plant_name_home">{{plant.name}}</span>
      </div>
    </div>
  </div>
</div>
