<div class="page">
  <nav>
    <div class="nav-wrapper">
      <img class="icon_img" src="/img/smart_gardner_icon2.png" alt="Smart Gardener icon">
      <a href="#" class="brand-logo">Smart Gardener</a>
      <ul id="nav-mobile" class="right">
        <li><a  class="gardens_link" href="/#/">Home</a></li>
        <li><a  class="gardens_link" href="/#/gardens">Gardens</a></li>
      </ul>
    </div>
  </nav>
  <div class="content row">
    <h1 class="center">{{garden.name}}</h1>
    <div class="plant_select col m4 offset-m4">
      <select  ng-change="addPlant(selectedPlant.id)" class="" ng-model="selectedPlant" ng-options="plant.name for plant in plants | orderBy:'name'"></select>
    </div>
    <div class="garden_plants_container col m6" ng-repeat="plant in garden.plant">
      <div class="garden_plant_list col">
        <img class="plant_img_garden col" ng-src="{{plant.img}}" alt="photo of {{name}}">
        <h4 class="garden_plant_title col" ng-click="plantDetails(plant.id)">{{plant.name}}</h4>
        <input class="delete_plant" type="button" ng-click="deletePlant(plant.id)"value="X">
      </div>
    </div>
  </div>
</div>
