<div class="page">
  <select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Smart Gardener</a>
      <ul id="nav-mobile" class="right">
        <li><a  class="gardens_link" href="/#/">Home</a></li>
        <li><a  class="gardens_link" href="/#/gardens">Gardens</a></li>
      </ul>
    </div>
  </nav>
  <div class="content">
    <h1 class="center">{{garden.name}}</h1>
    <div ng-repeat="plant in garden.plant">
      <h3 class="">{{plant.name}}</h3>
      <input class="delete" type="button" ng-click="deletePlant(plant.id)"value="X">
    </div>
    <div class="plant_select">
      <select  ng-change="addPlant(selectedPlant.id)" class="" ng-model="selectedPlant" ng-options="plant.name for plant in plants | orderBy:'name'"></select>
    </div>
  </div>
</div>
