<div class="page">
  <nav>
    <div class="nav-wrapper">
      <img class="icon_img" src="/img/smart_gardner_icon2.png" alt="Smart Gardener icon">
      <a href="#" class="brand-logo">Smart Gardener</a>
      <ul id="nav-mobile" class="right">
        <li><a  class="gardens_link" href="/#/">Home</a></li>
        <li><a  class="gardens_link" href="/#/gardens">Gardens</a></li>
      </ul>
    </div>
  </nav>
  <div class="content">
    <div class="title_img">
      <div class="plant_title">{{plant.name}}</div>
      <img class="plant_img_planthtml" ng-src="{{plant.img}}" alt="{{plant.name}}">
    </div>
    <div class="quicklook">
      <h5 class="quick-look-title">Quick Facts</h5>
      <ul>
        <li><strong>Sun amount needed</strong>: {{plant.sun_amount}}</li>
        <li><strong>Temperature Tolerance</strong>: {{plant.weather_tolerance}}</li>
        <li><strong>Soil Germination Temperature</strong>: {{plant.soil_germ_temp}}</li>
        <li><strong>Life Cycle</strong>: {{plant.life_cycle}}</li>
        <li><strong>Planting Depth</strong>: {{plant.planting_depth}}</li>
        <li><strong>Row Spacing</strong>: {{plant.row_spacing}}</li>
        <li><strong>Days to Germination</strong>: {{plant.days_to_germ}}</li>
        <li><strong>Soil PH Level</strong>: {{plant.soil_ph}}</li>
        <li><strong>Growing Soil Temperature</strong>: {{plant.growing_soil_temp}}</li>
        <li><strong>Time Till Harvest</strong>: {{plant.time_to_harvest}}</li>
        <li><strong>Seed Longevity</strong>: {{plant.seed_longevity}}</li>
        <li><strong>Pests</strong>: {{plant.pest[0]}}, {{plant.pest[1]}}, {{plant.pest[2]}}</li>
        <li><strong>Diseases</strong>: {{plant.diseases[0]}}, {{plant.diseases[1]}}, {{plant.diseases[2]}}</li>
      </ul>
    </div>
    <div class="plant_description">{{plant.description}}</div>
  </div>
</div>
